.page {
    margin :0;
    width: 375px;
    height: 812px;
    border:1px solid;
    margin : 0 auto;
    background : black;
    

    @media (min-width:768px){
        width: 100%;
        height: 100vh;
        border : none;
    }
    


&__screen {
    border: 1px solid black;
    width: 365px;
    height: 270px;
    margin: 0 auto;
    margin-top: 5px;
    background: #d1ccc0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    @media (min-width:768px){
        width: 100%;
        height: 50%;
        background:#bdc3c7;

    }
    
}

&__calculette {
    text-align: center;
    border-collapse: collapse;
    width:100%;
}   

&__touche {
    font-size:18px;
    border: solid 1px black;
    background-color: black;
    color: gold;
    width: 94px;
    height: 107px;
    text-decoration: none;
    border-radius: 5px;
    background:url('../image/polygon-bacground.jpg');
    &--blanc {
        color: white;
        text-decoration: none;
        
        
    }

    @media (min-width:768px){
        border-color: orange;
        font-size: 28px;
        width: 18%;
        height: 100px;
        
    }
    
}

&__touche:hover {
    background: #006266;
}

}

.toucheEgale {
    border:solid 1px white;
    width : 30px;
    margin : 0 auto;
    border-radius: 5px;

    @media (min-width: 768px){
        width:80px;
    }
}



