.page {
    width: 375px;
    height: 812px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

    @media(min-width:768px) {
    width:1024px;
    height: 768px;
    display: flex;
    margin : 0;
    flex-direction: row;
    background:url(../image/polygon-bacground.jpg);
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    
    }
    
    


&__upscreen {
    height: 270px;
    background: #d1ccc0;
    border: black solid 5px;
    padding: 20px;

    @media(min-width:768px) {
        width: 350px;
        height: 400px;
        padding: 0;
        border-radius: 5px;
    } 
    
}

&__textupscreen {
    font-size: 50px;
    line-height: 50px;
    text-align: right;
    padding: 20px;
    }

&__function {
    height: 270px; 
    background:url(../image/polygon-bacground.jpg);
    margin: 0 auto;
    width: 100%;
    
    
    @media(min-width:768px) {
        width: 324px;
        height: 310px;
        padding: 50px;
        background:none;
        
        
    }
}
&__fondmenu {
    margin : 0 auto;
    
    @media (min-width:768px){
        margin: 0auto;
    
        
    }
}

&__fondmenuimg {
    position: relative;
    transform: translate(0,-280px);
    margin : 0 auto;

    @media (min-width:768px) {
        width: 320px;
        height: 860px;
        
        
    }

}
&__touchefonction {
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    

    &--tva {
        position : relative;
        transform: translate(35px,-750px);

        @media(min-width:768px){
        position : relative;
        transform: translate(25px,-770px);
        }
    }

    &--aide {
        position : relative;
        transform: translate(280px,-775px);

        @media (min-width:768px) {
            position : relative;
            transform: translate(240px,-795px); 
        }
    }

    &--graphic {
        position: relative;
        transform: translate(35px,-750px);

        @media(min-width:768px){
            position : relative;
            transform: translate(25px,-765px);
            }
    }           
    &--save {
        position: relative;
        transform: translate(285px,-775px);
        
        @media(min-width:768px){
            position : relative;
            transform: translate(240px,-790px);
            }
    }
}
.retourindex{
    width: 50px;
    height: 50px;
    background-color: black;
    position: relative;
    transform: translate(160px,-765px) rotate(45deg);
    
    @media(min-width:768px){
        transform: translate(135px, -790px) rotate(45deg); 
            
    }
    
    }


&__downscreen {
    height: 270px;
    background: #d1ccc0;
    border: black solid 5px;
    padding:20px;

    @media(min-width:768px) {
        width: 350px;
        height: 400px;
        padding: 0;
        border-radius:5px;  
        
    } 
}

&__mode {
    padding:10px;
    border-bottom: solid 1px #666;
}

&__textdownscreen {
    font-size: 22px;
    line-height: 50px;
    text-align: right;
    padding: 10px;

    &--help {
        font-size : 18px;
        padding: 20px;
    }

}

&__graphic {
position: relative;
transform: translate(0px, -220px);
margin: 0 auto;
width: 300px;

    @media(min-width:768px){
    transform: translate(0px, -300px);
    width: 280px;
    height: 900px;
}
}
}






